@import "tailwindcss";
@import "../styles/_variables.scss";
@import "../styles/_keyframe-animations.scss";
@import "../styles/palette/colors.css";

.ProseMirror {
  font-family: var(--font-onest), Helvetica, sans-serif !important;
  font-size: 1rem !important;
  line-height: 1.6 !important;
  color: var(--text) !important;
  padding: 1rem !important;
}

:root {
  --background: #fbfbfb;
  --foreground: #171717;
  --primary: #cc80db;
  --secondary: #dabfff;
  --accent: #ff85ab;
  --text: #3b3b3b;
}

@theme {
  --color-primary: #cc80db;
  --color-primary-50: #faf7fb;
  --color-primary-100: #f4ecf7;
  --color-primary-200: #e9d5ee;
  --color-primary-300: #dabfff;
  --color-primary-400: #cc80db;
  --color-primary-500: #cc80db;
  --color-primary-600: #cc80db;
  --color-primary-700: #9a4dad;
  --color-primary-800: #7d3d87;
  --color-primary-900: #5d2d63;

  --color-secondary: #dabfff;
  --color-accent: #ff85ab;
  --color-white: #fff;
  --color-black: #3b3b3b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-onest), Helvetica, sans-serif;
  padding: 0em 15em;
}

.border {
  border: 2px solid red;
}

.brand-font {
  font-family: var(--font-playwrite);
}
