.gradient-text {
  background: linear-gradient(to right, #cc80db 6%, #cfadfe 40%, #ff85ab 95%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* fallback */
}
